@font-face {
  font-family: 'MuseoSans';
  src: local('MuseoSans-500'), url(./fonts/MuseoSans-500.otf) format('opentype');
}

body {
  font-family: 'MuseoSans', cursive;
}

.App {
  text-align: center;
}





.form-header {
  color: darkblue;
  padding-left: 20px;
  align-content: center;
  width: 500px;

}

.error {
  color: red;
}

.form-root {
  padding-left: 100px;
}

.form-item {
  color: darkblue;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
}

.form-header-title {
  text-align:center;
}

input {
  height: 44px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

select {
  height: 44px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.form-item-header {
  padding-bottom: 8px;
}

.form-content {
  padding-left: 20px;
}

.btn-container {
  padding-top: 60px;
}

.btn-submit {
  font-weight: bold;
  border-radius: 4px;
  background-color: darkblue;
  border: none;
  text-align: center;
  height: 44px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: white !important; // :)

}

.btn-reset {
  font-weight: bold;
  border-radius: 4px;
  background-color: white;
  color: darkblue;
  border: 1px solid darkgrey;
  text-align: center;
  height: 44px;
  width: 100px;
  text-decoration: none;

}

table, th, td {
  text-align: left;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
